<div class="container">
    <div class="menu">
        <button>Acceuil</button>
        <button>Shop</button>
        <button>Contact</button>
    </div>
    <div class="identifiant">{{names[idUser]}}</div>
</div>
