.menu {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

button {
    margin-right: 25px;
    background-color: chartreuse;
    cursor: pointer;
}
span {
    margin : 15px;
}

.identifiant {
    margin : 15px 35px 15px 15px;
}
.container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}