<app-header></app-header>
<div class="body">
    <div class="tableau">
        <p>Article 1</p>
        <p>Article 2</p>
        <p>Article 3</p>
        <p>Article 4</p>
        <p>Article 5</p>
        <p>Article 6</p>
        <p>Article 7</p>
        <p>Article 8</p>
        <p>Article 9</p>
    </div>
</div>
<app-footer></app-footer>