.tableau {
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: auto;
  }

p {
    width: 100px;
    margin-right : 55px;
    padding : 25px;
    background-color: blue;
    text-align: center;
}

.body {
    height: 1000px;
    background-image:url(C:\workspace\mon-app\src\assets\lol.png);
    background-repeat: no-repeat;
}
